.header {
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.header nav li {
  margin: 0 15px;
}

.header nav a {
  text-decoration: none;
  color: #fff;
}

.logout {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: #009600;
  border: 1px solid #009600;
  border-radius: 6px;
  color: #dafff7;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  margin-left: 80px;
}
